/* PC、スマホ共通スタイル */
html {
  scroll-behavior: smooth;
}

body {
  font-family:  "Source Sans Pro", "Hiragino Kaku Gothic ProN", Arial, sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}

.js-target {
  opacity: 0;
  transition: all 2s;
}

.fadeIn {
  opacity: 1;
}

/* モーダル（背景部分）
位置：固定、左上
幅：100%
高さ：100vh
背景色：rgba(0, 0, 0, 0.8)
 */
 .modal {
  display: none; /* 初期状態では非表示 */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

/* モーダル（画像部分）
位置：絶対位置
幅：80%
最大幅：800px
top、bottom、left、rightすべてに0を指定し、marginをautoにすることで中央に配置する
 */
.modal-content {
  position: absolute;
  width: 80%;
  max-width: 800px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* 閉じるボタン
位置：絶対位置、上から10px、右から20px
文字色：白色
フォントサイズ：40px
文字装飾：なし
 */
 #close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 40px;
  text-decoration: none;
  cursor: pointer;
}


/* 
位置：固定、下から38px、右から20px
背景色：黒色
文字色：白色
テキストの水平方向の配置：中央寄せ
文字装飾：なし
パディング：上下28px、左右24px
角丸：すべて50%
フォントの種類：Noto Sans JP、sans-serif 
*/
#topButton {
  display: none; /* ミス */
  position: fixed;
  bottom: 38px;
  right: 20px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none; /* ミス */
  padding: 28px 24px;
  border-radius: 50%;
  font-family: 'Noto Sans JP', sans-serif;
}


/*================
 PC用のスタイル 
=================*/
@media screen and (min-width: 768px) {
 
  /* ヘッダー */
  header {
    text-align: center;
    padding: 20px;
  }
  header a:hover {
    opacity: 0.5;
  }


  /* ナビゲーションのレイアウト */
  #menu-pc {
    display: flex;
    justify-content: space-between;
    font-size: 34px;
    font-weight: bold;
    padding: 15px;
    max-width: 598px;
    margin: 0 auto;
    align-items: center;
  }
  .link1 {
    border: 1px solid black;
    padding: 10px;
  }
  .menu-li {
    display: flex;
    gap: 20px;
  }

  .menu-li > a {
    font-size: 34px;
  }

  /* メインビジュアル */
  .about-list {
    list-style: disc;
    list-style-position: inside;
    padding-left: 20px;
    font-size: 18px;
  }
  #about {
    padding: 40px;
  }
  h2 {
    text-align: center;
    font-size: 30px;
    margin: 0 0 20px 0 ;
    font-weight: bold;
  }
  .about-h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 15px 0;
  }

  .about-kazuki {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .kazuki-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 40px;
  }

  #works > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 573px;
    margin: 0 auto;
    align-items: center;
  }

  .works-box {
    width: 179px;
    height: 134px;
    margin-bottom: 80px;
    position: relative;
  }

  .works-p {
    margin-top: 20px;
  }

  footer {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

/*================
 スマホ用のスタイル 
=================*/
@media screen and (max-width: 767px) {

#menu-pc {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  max-width: 727px;
  margin: 0 auto;
  align-items: center;
}
.link1 {
  border: 1px solid black;
  padding: 10px;
}
.menu-li {
  display: flex;
  gap: 20px;
}

 /* メインビジュアル */
 .about-list {
  list-style: disc;
  list-style-position: inside;
  padding-left: 20px;
  font-size: 18px;
}
#about {
  padding: 40px;
}

h2 {
  text-align: center;
  font-size: 18px;
  margin: 0 0 20px 0 ;
  font-weight: bold;
}
.about-h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px 0;
}
.about-list {
  font-size: 12px;
  line-height: 15px;
}
.about-kazuki {
  display: flex;
  align-items: center;
  justify-content: center;
}
.kazuki-image {
  border-radius: 50%;
  width: auto;
  height: auto;
  max-width: 141px;
  max-height: 142px;
  margin-right: 20px;
}

#works > div {
  display: block;
  text-align: center;
}

.works-box > img{
  width: 90%;
  height: auto;
  padding: 0 15px 10px;
}
.works-p {
  font-size: 12px;
  margin-bottom: 30px;
}

footer {
  font-size: 10px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
}
}
